# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build Output
build/
Output/
*.exe
*.obj
*.pdb
*.ilk

# VS / MSVC
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Logs
*.log
